@page
@model IndexModel

<div class="row">
    <div class="caixa">

        <h2>Computador Gráfico Intel Core i7, 16GB Ram, HD 1TB, GT 730 2GB, Windows:</h2>
        <img src="~/images/pc5.jpg" alt="ASP.NET" class="img-responsive" />
        <ul>
            <li><b>Preco de Margem:</b> R$ 3.292,92</li>
            <li><b>Preco a Vista com Desconto de 10%:</b> R$ 2.963,60</li>
            <li><b>Preco a Vista no Cartão (sem juros):</b> R$ 3.292,92</li>
            <li><b>Preco Parcelado no Cartão (juros de 2% ao mes):</b> Em 10x = R$ 3.951,50</li>
        </ul>
    </div>
    <div class="caixa">

        <h2>Computador Gamer Neologic Moba Box Intel I3-7100, GTX 1050, 1tb, 8gb,Win 7- NLI67214:</h2>
        <img src="~/images/pc2.jpg" alt="ASP.NET" class="img-responsive" />
        <ul>
            <li><b>Preco de Margem:</b> R$ 2.447,14</li>
            <li><b>Preco a Vista com Desconto de 10%:</b> R$ 2.202,42</li>
            <li><b>Preco a Vista no Cartão (sem juros):</b> R$ 2.447,14</li>
            <li><b>Preco Parcelado no Cartão (juros de 2% ao mes):</b> Em 10x = R$ 2.936,56</li>
        </ul>
    </div>
    <div class="caixa">

        <h2>Computador Gamer Com Monitor 15 Amd Quad Core A8 7600 8GB Hyperx HD 1TB Radeon R7 3GREEN Titan:</h2>
        <img src="~/images/pc3.jpg" alt="ASP.NET" class="img-responsive" />
        <ul>
            <li><b>Preco de Margem:</b> R$ 1.990,00</li>
            <li><b>Preco a Vista com Desconto de 10%:</b> R$ 1.791,00</li>
            <li><b>Preco a Vista no Cartão (sem juros):</b> R$ 1.990,00</li>
            <li><b>Preco Parcelado no Cartão (juros de 2% ao mes):</b> Em 10x = R$ 2.388,00</li>
        </ul>
    </div>
    <div class="caixa">

        <h2>Computador Gamer Neologic Intel I5-7400 Gtx 1050TI 8Gb 1Tb Monitor 21,5 NLI68705:</h2>
        <img src="~/images/pc4.jpg" alt="ASP.NET" class="img-responsive" />
        <ul>
            <li><b>Preco de Margem:</b> R$ 3.539,90</li>
            <li><b>Preco a Vista com Desconto de 10%:</b> R$ 3.185,91</li>
            <li><b>Preco a Vista no Cartão (sem juros):</b> R$ 3.539,90</li>
            <li><b>Preco Parcelado no Cartão (juros de 2% ao mes):</b> Em 10x = R$ 4.247,88</li>
        </ul>
    </div>
</div>

