@page
@model IndexModel

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <div class="caixa">
                <img src="~/images/pc5.jpg" alt="ASP.NET" class="img-responsive" />
            </div>
        </div>
        <div class="item">
            <div class="caixa">
                <img src="~/images/pc1-2.jpg" alt="Visual Studio" class="img-responsive" />
            </div>
        </div>
    </div>

    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Anterior</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Proximo</span>
    </a>
</div>

<div class="row">
    <div class="caixa">
        <h2> Computador Gráfico Intel Core I7, 16gb Hd 1tb, GT 730 2gb Win</h2>

            <p>
                O Computador Alfatec Intel Core I7, é a nova série de desenvolvida para usuários gráficos que necessitam de maior desempenho,
                hardware de alta tecnologia e que permita atualizações de hardware no futuro.
            </p>
            <p>
                Na hora de adquirir um gabinete e preciso pensar em diversos fatores como refrigeracao componentes internos, 
                alta tecnologia e claro, design sofisticado para combinar com o seu monitor. 
            </p>
            <p>
                E todos esses quesitos estao garantidos nos gabinetes C3Tech. Aproveite para melhorar a organizacao dos componentes
                internos de sua maquina com mais praticidade, simplicidade e rapidez
            </p>
        <h4>Processador:</h4>
            <p><b>
                Especificações:
            </b></p>

            <p>Marca: Intel</p>
            <p>Modelo: I7 2600</p>
            <p>Velocidade: 3.40GHz</p>
            <p>Núcleos: 4</p>
            <p>Número de Threads: 8</p>
            <p>Soquete: LGA1155</p>
            <p>Cache: 8MB</p>
            <p>Plataforma: PC</p>

        <p><b>
                Sobre o Produto:
        </b></p>

        <p>
            Processador Intel Core i7, Foi feito para atender suas necessidades, desde efetuar as tarefas mais básicas,
            até para jogos que exige um pouco mais do seu processador. Otimo para Jogos, Pequenas e Grandes tarefas do Dia a dia.
        </p>



    </div>
</div>