@page
@model IndexModel

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <div class="caixa">
                <img src="~/images/pc3.jpg" alt="ASP.NET" class="img-responsive" />
            </div>

        </div>
        <div class="item">
            <div class="caixa">
                <img src="~/images/pc3-2.jpg" alt="Visual Studio" class="img-responsive" />
            </div>
            
        </div>
    </div>

    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Anterior</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Proximo</span>
    </a>
</div>

<div class="row">
    <div class="caixa" >
        <h2>Computador 3Green Titan Gamer p2844:</h2>

        <p>
            possui memória RAM Kingston HyperX de 8GB, HD de 1 TB, APU AMD A8 7600
            Quad Core, placa Mãe Asrock, placa de vídeo AMD Radeon R7 graphics, 
            Fonte de 500W, gabinete gamer com FAN LEDs inclusos, mouse gamer, 
            teclado gamer e headset gamer. 
        </p>
        <p>
            É ideal para o público de jogadores mais exigentes. Monitor incluso
        </p>

        <p><b>MONITOR de LED 15.6 polegadas HD Widescreen:</b></p>

        <p><b>PLACA MÃE:</b></p>
        <p>PCB de fibra de vidro de alta densidade</p>
        <p>Tecnologia de memória DDR3 Dual Channel</p>
        <p>Chipset: AMD A55</p>
        <p>Socket: FM2+</p>
        <p>ApU:</p>
        <p>Série de processadores AMD</p>
        <p>Processadores da série AMD Athlon</p>

        <p><b>MOUSE:</b></p>
        <p>O Mouse Gamer 3green possui design compacto 6D, scroll de ultra-precisão, formato ergonômico</p>
        <p>Alta velocidade de DPI</p>
        <p>Tecnologia Óptica</p>
        <p>8400FPS (quadros por segundo)</p>
        <p>Cabo em malha de algodão: 1.5 metros</p>
        <p>Entrada: USB</p>
        <p>Botão Scroll</p>
        <p>Conector USB Premium</p>

        <p><b>TECLADO:</b></p>
        <p>Teclado USB Gamer preto e vermelho.</p>
        <p>Teclas Personalizadas Para Gamers</p>
        <p>Teclas De Atalho De Fácil Acesso</p>
        <p>Teclas Silenciosas</p>
        <p>Teclas Multimídia Design Confortável Padrão Abnt2 Comprimento Do Cabo: 1.5m Conexão USB Premium</p>

        <p><b>HEADSET:</b></p>
        <p>Fone da linha VX Gamer com microfone</p>
        <p>Design Gamer</p>
        <p>Haste ajustável</p>
        <p>Earpad mácio</p>
        <p>Controle de volume</p>
        <p>Ajuste de altura</p>
        <p>Microfone retrátil</p>
        <p>Frequência: 20Hz - 20MHz</p>
        <p>Potência máxima: 50mW</p>
        <p>Sensibilidade: 55dB 2dB</p>
        <p>Conector: 3.5mm estéreo</p>

        <p><b>GABINETE GAMER COM TAMPA TRANSPARENTE E 5 FAN LED VERMELHOS INCLUSOS:</b></p>
        <p>Compavel com placa mãe ATX e Micro ATX</p>
        <p>Chapa SPCC com 0,5mm de espessura</p>
        <p>Áudio e microfone frontal (P2)l</p>
        <p>5 fans inclusos LED</p>
        <p>Com parafusos traseiros recartilhados</p>
        <p>Tampa lateral transparente</p>
        <p>1x Baia externa de 5,25"</p>
        <p>2x Baias de 3,5"</p>
        <p>Suporte para SSD de 2,5"</p>
        <p>Sensibilidade: 55dB 2dB</p>
        <p>7x Slots de expansão</p>

    </div>
</div>