@page
@model IndexModel

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <div class="caixa">
                <img src="~/images/pc4.jpg" alt="ASP.NET" class="img-responsive" />
            </div>

        </div>
        <div class="item">
            <div class="caixa">
                <img src="~/images/pc4-2.jpg" alt="Visual Studio" class="img-responsive" />
            </div>
            
        </div>
    </div>

    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Anterior</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Proximo</span>
    </a>
</div>

<div class="row">
    <div class="caixa">
        <h2>Kit Computador Gamer com Mouse, Teclado, Headphone + Monitor 21,5:</h2>

        <p><b>Placa de Video GTX 1050ti:</b></p>

        <p>
            Todo mundo merece jogar de um jeito incrível. Por isso, existe a rápida e potente GeForce GTX 1050ti.
            Agora, você pode transformar seu PC em uma verdadeira plataforma de games, com a tecnologia da NVIDIA Pascal — 
            a mais avançada arquitetura de placa de vídeo já criada.
        </p>
        <p>
            Ela vem com as tecnologias inovadoras NVIDIA Game Ready, que fazem todo gamer vivenciar os últimos lançamentos na mais suprema glória.
        </p>

        <h4>Características do Produto:</h4>

        <p><b>Processador:</b>I5-7400 3,0GHZ 6MB Cache 7ª Geração Kaby Lake</p>
        <p><b>Placa Mae:</b>LGA 1151 GA-H110M-H DDR4 Gigabyte</p>
        <p><b>Memoria:</b>8Gb Ddr4- Hyper X</p>
        <p><b>HD:</b>1Tb Sata 3</p>
        <p><b>Placa de Video:</b>Gtx 1050ti 4GB OC</p>
        <p><b>Voltagem:</b>Bivolt 110v – 220v</p>
        <p><b>Conexoes da Placa de Video:</b>1x Dvi - 1x Hdmi 1x Display Port</p>
        <p><b>Conexao Traseira:</b> 2x portas Usb 3.0 2x portas Usb 2.0 1x porta Ethernet</p>
        <p><b>Tipo de PC:</b>Gamer</p>

        <p><b>Monitor:</b>Led 21,5" Widescreen</p>
        <p><b>Mouse:</b>Gamer Spider</p>
        <p><b>Teclado:</b>Gamer Spider</p>
        <p><b>Headset:</b>Gamer Spider</p>

        <p>
            <b>
                Recomendações:
            </b>A Placa de Video Geforce Aceita somente entrada Digital.
            Recomendamos que utilize Monitor com Entrada Hdmi ou Adaptador Vga
            para Hdmi e ligue diretamente na Placa de Video.
        </p>
    </div>
</div>