@page
@model AboutModel
@{
    ViewData["Title"] = "Sobre";
}
<div class="caixa">
    <h2>@ViewData["Title"]</h2>
    <h3>@Model.Message</h3>

    <p>Use essa area para fornecer informacao adicional.</p>
</div>
